@import 'tailwindcss';

@variant dark (&:where(.dark, .dark *));

:root {
	--color-transition: all 0.3s ease;
}

* {
	scroll-behavior: smooth;
}

html {
	font-feature-settings: 'cv02', 'cv03', 'cv04', 'cv11';
	font-variant-ligatures: contextual;
}

body {
	transition: background-color 0.3s ease, color 0.3s ease;
}

.dark {
	color-scheme: dark;
}

[data-theme='dark'] {
	color-scheme: dark;
}

[data-theme='light'] {
	color-scheme: light;
}
